@{
    ViewData["Title"] = "VendaVerde";
}

<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item" style="background-image: url(images/bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-md-12 ftco-animate text-center">
                        <h1 class="mb-2">Frutas &amp; Verduras</h1>
                        <h2 class="subheading mb-4">O melhor dos produtos naturais entregues na sua casa!</h2>
                        <p><a class="btn btn-primary"  asp-area="" asp-controller="Produto" asp-action="Produtos">Veja nossos produtos</a></p>
                    </div>

                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image: url(images/bg_2.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">

                    <div class="col-sm-12 ftco-animate text-center">
                        <h1 class="mb-2">Produtos de Qualidade</h1>
                        <h2 class="subheading mb-4">Oferecemos Frutas &amp; Verduras 100% orgânicos</h2>
                        <p><a class="btn btn-primary" asp-area="" asp-controller="Produto" asp-action="Produtos" asp-route-categoria="">Veja nossos produtos</a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row no-gutters ftco-services">
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-1 active d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-shipped"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Frete Gratuito</h3>
                        <span>Para pedidos acima de R$ 49,90</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-2 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-diet"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Sempre Fresquinhos</h3>
                        <span>Produtos bem embalados</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-3 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-award"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Qualidade Superior</h3>
                        <span>Produtos de Qualidade</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services mb-md-0 mb-4">
                    <div class="icon bg-color-4 d-flex justify-content-center align-items-center mb-2">
                        <span class="flaticon-customer-service"></span>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Suporte</h3>
                        <span>24/7 Suporte</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-category ftco-no-pt">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6 order-md-last align-items-stretch d-flex">
                        <div class="category-wrap-2 ftco-animate img align-self-stretch d-flex" style="background-image: url(images/category.jpg);">
                            <div class="text text-center">
                                <h2>Categorias</h2>
                                <p>Veja nossos produtos por categoria</p>
                                <p><a asp-controller="Produto" asp-action="Produtos" asp-route-categoria="" class="btn btn-primary">Todos os produtos</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(images/category-1.jpg);">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a asp-controller="Produto" asp-action="Produtos" asp-route-categoria="Verduras">Verduras</a></h2>
                            </div>
                        </div>
                        <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(images/category-2.jpg);">
                            <div class="text px-3 py-1">
                                <h2 class="mb-0"><a asp-controller="Produto" asp-action="Produtos" asp-route-categoria="Frutas">Frutas</a></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="category-wrap ftco-animate img mb-4 d-flex align-items-end" style="background-image: url(images/raizes.png);">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a asp-controller="Produto" asp-action="Produtos" asp-route-categoria="Raízes">Raízes</a></h2> 
                    </div>
                </div>
                <div class="category-wrap ftco-animate img d-flex align-items-end" style="background-image: url(images/category-4.jpg);">
                    <div class="text px-3 py-1">
                        <h2 class="mb-0"><a asp-controller="Produto" asp-action="Produtos" asp-route-categoria="Grãos">Grãos</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*<div>
    <div>@Model.CategoriaAtual</div>
    @foreach(var produto in Model.Produtos)
        {
            <div>
                <div>@produto.Nome</div>
                <div>@produto.Preco</div>
                <div>@produto.Categoria.CategoriaNome</div>
            </div>
        }
</div>*@
