@model CarrinhoViewModel

    <li class="nav-item cta cta-colored">
        <a asp-controller="Carrinho" asp-action="Index" class="nav-link">
        <span class="icon-shopping_cart"></span>Meu carrinho

        @if (Model.Carrinho.ItensCarrinho.Count > 0)
        {
            <span id="cart-status">
                @Model.Carrinho.ItensCarrinho.Count
            </span>
            <span class="glyphicon glyphicon-shopping-cart"></span>
        }
        </a>
    </li>
