
<section class="ftco-section img" style="background-image: url(/images/bg_3.jpg);"> </section>

<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-3 pb-3">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <span class="confirm">Recebemos seu pedido!</span>
                <p>@ViewBag.CheckoutCompleteMessage</p>
            </div>
        </div>
    </div>
</section>

